@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u8qxot');
  src:  url('fonts/icomoon.eot?u8qxot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u8qxot') format('truetype'),
    url('fonts/icomoon.woff?u8qxot') format('woff'),
    url('fonts/icomoon.svg?u8qxot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nail-polish-svgrepo-com-2:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-cosmetic:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-nail-polish-svgrepo-com:before {
  content: "\e909";
}
.icon-whatsapp:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-phone1:before {
  content: "\e942";
}
